* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #7F3FBF;
    color: white;
}

.logo{
    width: auto
}

/* 
.container {
    width: 80%;
    max-width: 900px;

}

.botaozao{
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.icon-bot img {
    width: 70px; 
    height: 55px; 
}

.user-icon img {
    width: 45px; 
    height: 40px; 
}

main {
    background-color: #4A148C;
    border-radius: 20px;
    text-align: left;
    align-items: flex-start;
    padding-left: 50px;
    size: 70px;

}

.logo {
    flex: 1;
    text-align: left;
}

.menu {
    display: flex;
    flex-direction: line;
    text-align: left;
    padding-left: 20px;
    
    
}

.botoes{
    margin-top: 13%;
    margin-left: 5%;
    justify-content: space-between;
}

.logo img {
    margin-bottom: 30px;
    size: 30px;
}

.menu-button {
    background-color: #9C27B0;
    border: none;
    color: white;
    font-size: 40px;
    padding: 20px 50px;
    border-radius: 30px;
    display: flex;
    text-align: left;
    align-items: flex-end;
    flex: 1;
    margin-bottom: 20px;
    cursor: pointer;
    width: 70%;
    justify-content: center;
}

.menu-button .icon img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.menu-button:hover {
    background-color: #6A1B9A;
}

.menu-button jogos {
    align-items: flex-end;
    flex: 1;
    text-align: right;
} */
nav{
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
  }
  nav a:hover{
    background-color: var(--accent-color);
  }
  nav .home-link{
    margin-right: auto;
  }
  nav svg{
    fill: var(--text-color);
  }
  #sidebar-active{
    display: none;
  }
  .open-sidebar-button, .close-sidebar-button{
    display: none;
  }
  @media(max-width: 450px){
    .links-container{
      flex-direction: column;
      align-items: flex-start;
  
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      width: 300px;
  
      background-color: var(--color-1);
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
      transition: 0.75s ease-out;
    }
    nav a{
      box-sizing: border-box;
      height: auto;
      width: 100%;
      padding: 20px 30px;
      justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
      padding: 20px;
      display: block;
    }
    #sidebar-active:checked ~ .links-container{
      right: 0;
    }
    #sidebar-active:checked ~ #overlay{
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
    }
  }


.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}